@import url('https://fonts.cdnfonts.com/css/resist-sans-display');

#info-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
  padding: 15px;
  margin: 14px;
  border: 2px solid #ccc;
  border-radius: 7.5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#info-text {
  padding-right: 15px;
}

#info-image {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
}

#info-image img {
  max-width: 100%;
  max-height: 100%;
}

#map {
  height: 60%;
  width: 90%;
  border: 5px solid #811A05;
  border-radius: 15px;
}

html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: 'Resist Sans Text', sans-serif;
}

body {
 background-color: #DABD90;
}

h1, h3, h4 {
 margin: 0;
}

h1 {
 font-size: 26px;
 font-weight: bold;
}

h3 {
 font-size: 20px;
 font-weight: normal;
 color: #555;
}

h4 {
 font-size: 16px;
 font-weight: normal;
 color: #888;
}

@media (max-width: 600px) {
img {
  width: 55vw;
  height: auto;
}
}

/* For screens larger than 600px */
@media (min-width: 601px) {
img {
  max-width: 400px;
  height: auto;
}
}

.map-generator{
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #DABD90;
  color: #811A05;
  padding: 15px;
  margin: 10px;
  z-index: 1;
  font-weight: bold;
  font-size: 30px;
}